.top{
  margin-top: -22px;
  margin-left: -10px;
  width: 102%;
  height: 150px;
  padding-top: 30px;
  background-color: green;
}
.heading{
  color: white;
  margin-left: 470px;
  /* background-color: navy; */
  width: 350px;
  height: 50px;
}
.accordbg{
  margin-left: -8px;
  background-color: white;
  width: 102%;
  height: 350px;
  padding-top: 50px;
}
.accordtemp{
  width: 50%;
  height: 200px;
  margin-left: 330px;
  background-color: yellow;
}
.bton{
  width:100px;
  height: 50px;
  margin-left: 1100px;
  background-color: red;
}
